In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
dataset=dataset.astype(int)

In [7]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
independent=dataset[['age', 'bmi', 'children', 'charges','sex_male', 'smoker_yes']]

In [10]:
independent

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [11]:
dependent=dataset[['charges']]

In [12]:
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor

In [16]:
param_grid={'loss':['squared_error', 'absolute_error', 'huber', 'quantile'],'criterion':['friedman_mse', 'squared_error'],
           'max_features':['sqrt', 'log2']}

In [17]:
grid=GridSearchCV(GradientBoostingRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)

In [18]:
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\sreet\anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'squared_error'],
                         'loss': ['squared_error', 'absolute_error', 'huber',
                                  'quantile'],
                         'max_features': ['sqrt', 'log2']},
             verbose=3)

In [19]:
re=grid.cv_results_

In [20]:
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'squared_error', 'loss': 'squared_error', 'max_features': 'sqrt'}:

In [21]:
table=pd.DataFrame.from_dict(re)

In [22]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_loss,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.125622,0.012428,0.056683,0.034857,friedman_mse,squared_error,sqrt,"{'criterion': 'friedman_mse', 'loss': 'squared...",0.996328,0.993060,0.991295,0.995439,0.991160,0.993457,0.002111,3
1,0.111122,0.008124,0.004065,0.006059,friedman_mse,squared_error,log2,"{'criterion': 'friedman_mse', 'loss': 'squared...",0.996971,0.990787,0.993572,0.992868,0.991977,0.993235,0.002087,4
2,0.442762,0.054108,0.002449,0.004653,friedman_mse,absolute_error,sqrt,"{'criterion': 'friedman_mse', 'loss': 'absolut...",0.983107,0.968561,0.981889,0.984225,0.969294,0.977415,0.006973,9
3,0.370254,0.009281,0.001679,0.002064,friedman_mse,absolute_error,log2,"{'criterion': 'friedman_mse', 'loss': 'absolut...",0.993290,0.961819,0.982783,0.984200,0.960708,0.976560,0.013004,10
4,0.467899,0.006199,0.002565,0.002133,friedman_mse,huber,sqrt,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.996847,0.992468,0.989124,0.992890,0.989366,0.992139,0.002815,5
5,0.462594,0.007600,0.004222,0.006085,friedman_mse,huber,log2,"{'criterion': 'friedman_mse', 'loss': 'huber',...",0.994463,0.988849,0.988732,0.996130,0.989353,0.991505,0.003147,6
6,0.365149,0.009425,0.001470,0.001852,friedman_mse,quantile,sqrt,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.962147,0.967511,0.983181,0.967346,0.981495,0.972336,0.008408,13
7,0.363519,0.009303,0.003860,0.005795,friedman_mse,quantile,log2,"{'criterion': 'friedman_mse', 'loss': 'quantil...",0.964415,0.944575,0.978460,0.951599,0.967838,0.961378,0.012006,15
8,0.122097,0.004908,0.003116,0.004896,squared_error,squared_error,sqrt,"{'criterion': 'squared_error', 'loss': 'square...",0.996369,0.994893,0.993437,0.997370,0.993599,0.995134,0.001538,1
9,0.117217,0.006921,0.003004,0.003728,squared_error,squared_error,log2,"{'criterion': 'squared_error', 'loss': 'square...",0.996096,0.993598,0.994285,0.996174,0.988813,0.993793,0.002685,2
10,0.355068,0.005311,0.006727,0.007466,squared_error,absolute_error,sqrt,"{'criterion': 'squared_error', 'loss': 'absolu...",0.991605,0.964569,0.986220,0.969123,0.964396,0.975183,0.011465,11
11,0.375030,0.005332,0.001662,0.003323,squared_error,absolute_error,log2,"{'criterion': 'squared_error', 'loss': 'absolu...",0.990020,0.973431,0.971466,0.976969,0.962582,0.974894,0.008928,12
12,0.824935,0.147572,0.000000,0.000000,squared_error,huber,sqrt,"{'criterion': 'squared_error', 'loss': 'huber'...",0.992521,0.990447,0.991718,0.995043,0.987357,0.991417,0.002525,7
13,0.958495,0.008504,0.006249,0.007654,squared_error,huber,log2,"{'criterion': 'squared_error', 'loss': 'huber'...",0.995560,0.984738,0.992531,0.991544,0.987531,0.990381,0.003815,8
14,0.761552,0.016317,0.009373,0.007653,squared_error,quantile,sqrt,"{'criterion': 'squared_error', 'loss': 'quanti...",0.976171,0.915223,0.957457,0.969410,0.970225,0.957697,0.022089,16
15,0.725930,0.031107,0.009002,0.007381,squared_error,quantile,log2,"{'criterion': 'squared_error', 'loss': 'quanti...",0.971853,0.951346,0.970694,0.972396,0.972468,0.967751,0.008227,14

In [23]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=float(input("Sex_Male 0 or 1:"))
smoker_yes_input=float(input("Smoker_Yes 0 or 1:"))

Age:34
BMI:60
Children:3
Sex_Male 0 or 1:1
Smoker_Yes 0 or 1:0

In [25]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

ValueError: X has 5 features, but GradientBoostingRegressor is expecting 6 features as input.